Repository Templar-Protocol/contracts, pull requests merged in 2025-08, with the labels that each got.

#192 feat: collateral tracking
  common/src/borrow.rs
  common/src/market/impl.rs
  common/src/snapshot.rs
  common/src/supply.rs
  contract/market/src/impl_market_external.rs
  contract/market/tests/happy_path.rs
  contract/market/tests/snapshot.rs
  test-utils/src/controller/market.rs
Labels: priority-high, external-api

#197 Update GH comment with the correct contract links
  .github/workflows/deploy-staging.yml
Labels: priority-low, complexity-low

#196 chore: rename mcr->mcr_liquidation,mcr_initial->mcr_maintenance
  common/src/borrow.rs
  common/src/market/configuration.rs
  contract/lst-oracle/tests/lst_oracle.rs
  contract/market/src/impl_helper.rs
  contract/market/tests/configuration_validation.rs
  contract/market/tests/happy_path.rs
  contract/market/tests/liquidation.rs
  contract/market/tests/mcr_maintenance.rs
  test-utils/examples/generate_testnet_configuration.rs
  test-utils/src/lib.rs
Labels: external-api
